# Ignore all .docx - files
*.docx

# Ignore all  .mp4 - files
*.mp4

# Ignore all  .qgz - files
*.qgz

# Ignore all .obj - files
*.obj

# Ignore all .zip - files
*.zip

# Ignore Python files
__pycache__/

# Ignore output-files of weekly exercises

# Week_01
Week_01/supermarkets.json
Week_01/winterthur_sitemap.json
Week_01/zuerich_sitemap.json
Week_01/apartment_data_winterthur.csv

# Week_02
Week_02/apartments_data_preparation_zuerich.ipynb
Week_02/apartments_data_preparation_zuerich.html
Week_02/apartments_data_prepared.csv
Week_02/supermarkets_data_prepared.csv
Week_02/apartments_database.db
Week_02/supermarkets_database_Python.ipynb
Week_02/supermarkets_database_Python.html

# Week_03
Week_03/apartments_data_prepared.csv
Week_03/apartments_data_enriched.csv
Week_03/municipality_data_with_taxable_income.xlsx
Week_03/apartments_data_preparation_zuerich.html
Week_03/combining_and_organizing_data.html

# Week_04
Week_04/python_code_outliers.txt
Week_04/myplot.png
Week_04/apartments_data_enriched_cleaned.csv
Week_04/rural_apartments.ipynb
Week_04/rural_apartments.html
Week_04/city_apartments.ipynb
Week_04/city_apartments.html
Week_04/differences_rural_cities.pdf
Week_04/exploratory_data_analysis_supermarket_data.ipynb
Week_04/exploratory_data_analysis_supermarket_data.html

# Week_05
Week_05/address_geocoded.png
Week_05/municipalities_and_points_map.png
Week_05/table_point_in_polygon_intersection.png
Week_05/screenshot_choropleth_map.png
Week_05/table_ nearest_neighbor_analysis.png

# Week_06
Week_06/population_and_samples.html
Week_06/unpaired_two_sample_t-test.html
Week_06/analysis_of_variance_ANOVA.html

# Week_07
Week_07/analysis_of_contingency_tables.html
Week_07/correlation_analysis.html
Week_07/chi_squared_test_by_hand.txt

# Week_08
Week_08/linear_regression.html
Week_08/regression_trees_random_forest.html

# Week_09
Week_09/classification_analysis_titanic.html
Week_09/classification_analysis_supermarkets.html
Week_09/classification_analysis_supermarkets.ipynb

# Week_10
Week_10/__pycache__/
Week_10/k-means_clustering_task01.html
Week_10/k-means_clustering_task02.html
Week_10/3D_models
Week_10/3d_point_cloud_segmentation.txt

# Week_11
Week_11/Literature
Week_11/NLP_text_preprocessing.html
Week_11/NLP_movie_reviews_sentiment_prediction.html
Week_11/neural_network_with_continuous_bag_of_words_CBOW.ipynb
Week_11/text.txt

# Week_12
Week_12/__pycache__/
Week_12/flask_simple_application.png
Week_12/flask_matplotlib_example.png
Week_12/flask_iris_model_example.png
Week_12/flask_dash_example.png
Week_12/project_folder
Week_12/fear_and_greed_index_application

# Week_13
Week_13/TensorFlow

# Week_14

# Ignore single folders
# Week_01
# Week_02
# Week_03
# Week_04
# Week_05
# Week_06
# Week_07
# Week_08
# Week_09
# Week_10
# Week_11
# Week_12
# Week_13
# Week_14
