jupyter
pandas
shapely
openpyxl
matplotlib
requests
scipy
seaborn
beautifulsoup4
statsmodels
openrouteservice
folium
scikit-learn
numpy
opencv-python
nltk
wordcloud
tensorflow
open3d
flask
flask_wtf
joblib
dash