<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fear and Greed Index</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #121212;
            color: #ADFF2F;
            font-family: Arial, sans-serif;
        }
        .chart-container {
            margin-left: 20px;
            text-align: center;
        }
        h1 {
            color: #ADFF2F;
        }
    </style>
</head>
<body>
    <div class="chart-container">
        <h1>Fear and Greed Index</h1>
        {{ chart|safe }}
    </div>
</body>